.main{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.eom{
    text-align: center;
}
.eom h1{
    font-size: 28px;
    color: aqua;
}
.eom h1:hover{
  color: #0070f3;
}
.eom h3:hover{
  color: #4cccff;
}
.eom h3:hover{
  color: #4cccff;
}
.eom h3{
}
.eom h6{
}
.eom img{
    width: 250px;
    border-radius: 100%;
}
.eom p{
    font-size: 18px;
    font-weight: 800;
}
