.main{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .post{
    width: 600px;
    margin: 20px;
    border-bottom: 2px solid black;
    background-color: rgb(216, 216, 216);
 }
 .post img{
    width: 100%;
  }
  .post h1{
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .post h1:hover {
    color: rgb(207, 252, 145);
    }
   
    .paginator {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .paginator div {
        font-weight: 500;
        font-size: 12px;
          
         width: 60px;
         margin-bottom: 20px;
      }
      .paginator .active {
        width: 90px;
        padding-left: 6px;
        height: 30px;
        padding-left: 20px;
        font-size: 16px;
         cursor: pointer;

        background-color:#eeeef0;
    color: rgb(0, 0, 0);
    border:none;
    border-radius:10px;
      }
      .paginator .disabled {
        width: 90px;
        padding-left: 6px;
        height: 30px;
        padding-left: 20px;
        font-size: 16px;
        cursor: not-allowed;
         background-color:#e6e6ed;
    color: rgb(0, 0, 0);
    border:none;
    border-radius:10px;
      }
      .paginator .disabled:hover {
        cursor: not-allowed;
        background-color:#97999e;
         color: #ffffff;
        transition: 0.7s;
       }
      .paginator .active:hover {
        background-color:#3b6ef9;
         color: #ffffff;
        transition: 0.7s;
    }

    .pageno {
        width: 20px;
        font-weight: 500;
        margin-top: 0px;
       margin-right: 10px;
       margin-left: 20px;
       padding-left: 20px;

    }
    /*
.paginator{
    width: 100%;
    display: flex;
    justify-content: center;

}
  .disabled{
        cursor:not-allowed ;
        color: gray;
    }

    
    .paginator button{
         
        border: 1px solid #222222;
       border-radius: 8px;
       box-sizing: border-box;
       color: #222222;
        display: inline-block;
       font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
       font-size: 16px;
       font-weight: 600;
       line-height: 20px;
       margin: 0;
       outline: none;
       padding: 13px 23px;
       position: relative;
       text-align: center;
       text-decoration: none;
       touch-action: manipulation;
       transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
       user-select: none;
       -webkit-user-select: none;
       width: auto;
    }
    .paginator .active{
        cursor: pointer;
    }
    .active{
        cursor:pointer;
    }
    .paginator .disabled{
            cursor: not-allowed;
        color: aqua;
    }
     

    
     .paginator button{
         
           background-color: #FFFFFF;
          border: 1px solid #222222;
          border-radius: 8px;
          box-sizing: border-box;
          color: #222222;
          cursor: pointer;
          display: inline-block;
          font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin: 0;
          outline: none;
          padding: 13px 23px;
          position: relative;
          text-align: center;
          text-decoration: none;
          touch-action: manipulation;
          transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
          user-select: none;
          -webkit-user-select: none;
          width: auto;
            .paginator button:active {
        background-color: #F7F7F7;
        border-color: #000000;
        transform: scale(.96);
      }
      
        
       
    }*/