
.main {
  max-width: 35%;
  margin: 0 auto;
  color: #fff;
  border-radius: 50px;
  background-color: #25283d;
    display: flex;
     justify-content: center;
   }
   .main div{
    margin: 25px;
    font-weight: 700;
    cursor: pointer;
   }
   .main div:hover {
    color: rgb(0, 128, 255);
   }